<div class="row" *ngIf="member">

  <div class="col-4">
    <h1>Your Profile</h1>
  </div>

  <div class="col-8">
    <div class="alert alert-info pb-0" *ngIf="editForm.dirty">
      <p><strong>Information: </strong>you have have changes. Any unsaved changes will be lost</p>
    </div>
  </div>

  <div class="col-4">

    <div class="card">
      <img src="{{member.photoUrl || './assets/user/png'}}" alt="{{member.userName}}" class="card-img-top img-thumbnail">

      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{member.city}}, {{member.country}}</p>
        </div>

        <div>
          <strong>Age:</strong>
          <p>{{member.age}}</p>
        </div>

        <div>
          <strong>Last Active:</strong>
          <p>{{member.lastActive | timeago}}</p>
        </div>

        <div>
          <strong>Member Since:</strong>
          <p>{{member.created | date: 'dd MMM yyyy'}}</p>
        </div>
      </div>

      <div class="card-footer">
        <button class="btn btn-success col-12"
                type="submit"
                form="editForm"
                [disabled]="!editForm.dirty"
        >Save Changes</button>
      </div>

    </div>

  </div>

  <div class="col-8">
    <mat-tab-group  class="inline-block">
      <mat-tab label="about {{member.knownAs}}">
        <form #editForm="ngForm" (ngSubmit)="updateMember()" id="editForm">
          <h4 class="mt-2">Description</h4>
          <textarea name="introduction" class="form-control" rows="6" [(ngModel)]="member.introduction"></textarea>
          <h4 class="mt-2">Looking For</h4>
          <textarea name="lookingFor" class="form-control" rows="6" [(ngModel)]="member.lookingFor"></textarea>
          <h4 class="mt-2">Description</h4>
          <textarea name="interests" class="form-control" rows="6" [(ngModel)]="member.interests"></textarea>
          <h4 class="mt-2">Location Details: </h4>
          <div class="d-flex flex-row align-items-center">
            <label for="city">City: </label>
            <input type="text" name="city" class="form-control mx-2" [(ngModel)]="member.city" id="city">
            <label for="country">Country: </label>
            <input type="text" name="country" class="form-control mx-2" [(ngModel)]="member.country" id="country">
          </div>
        </form>
      </mat-tab>
      <mat-tab label="Edit Photos">
        <app-photo-editor [member]="member"></app-photo-editor>
      </mat-tab>
    </mat-tab-group>
  </div>

</div>
