
<div class="fixed top-0 left-0 h-screen w-64 bg-white-800 border-r-gray-200 border-r-2">
  <div class="my-5 ml-5">
    <span class="text-2xl"><strong>Social Photo</strong></span>
    <svg aria-label="Home" color="#262626" fill="#262626" height="24" role="img" viewBox="0 0 24 24" width="24"><path d="M9.005 16.545a2.997 2.997 0 0 1 2.997-2.997A2.997 2.997 0 0 1 15 16.545V22h7V11.543L12 2 2 11.543V22h7.005Z" fill="none" stroke="currentColor" stroke-linejoin="round" stroke-width="2"></path></svg>
  </div>



</div>
