<div class="text-center mt-3">
  <h2>{{predicate == "liked" ? "Members I Like" : "Members Who Like Me"}}</h2>
</div>

<div class="container mt-3">
  <div class="d-flex">
    <mat-button-toggle-group #group="matButtonToggleGroup" [(ngModel)]="predicate" (change)="loadLikes()">
      <mat-button-toggle value="liked">Members I Like</mat-button-toggle>
      <mat-button-toggle value="likedBy">Members Who Like Me</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <div class="row mt-3">
    <div class="col-2" *ngFor="let member of members">
      <app-member-card [member]="member"></app-member-card>
    </div>
  </div>
</div>
